h1{
font-family: 'Montserrat', sans-serif;
font-size:24px;
font-weight: 800;

text-align: center;
color: $txtcolor-secondary;
margin-top: 10px;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size:16px;
  font-weight: 800;
  color: $txtcolor-secondary;
  text-align: center;
  margin-top: 20px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size:12px;
  font-weight: 800;
  color: $txtcolor-primary;
}

a{
  text-decoration: none;
  color: $txtcolor-primary;
}

span{
  color: $txtcolor-primary;
}
