h1{
font-family: 'Montserrat', sans-serif;
font-size:22px;
font-weight: 800;
text-align: center;
color: white;
margin-top: 50px;
margin-bottom: 40px;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size:18px;
  font-weight: 800;
  color: white;
  text-align: center;
  margin-top: 30px;
  }

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size:14px;
  font-weight: 800;
  color: white;
  text-align: center;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size:10px;
  font-weight: 800;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}
