
$background-ligth:#344F6F;
$background-menu:#2D5483;
$background-input: #85A9D5;

$background-dark: #0000;

$txtcolor-primary: #FFFFFF;
$txtcolor-secondary:#ADEBBA;
$txtcolor-tertiary:$background-ligth;

$color-primary: #07FFD2;
$color-secondary: #FBED21;

$stroke-primary: #07FFD2;
$stroke-secondary: #FFFFFF;


//New color for website :

$primary: #004643;
$primary--light: #ABD1C6;
$primary--dark: #001E1D;
$primary--darklight: #0F3433;

$secondary: #F9BC60;

$dark: #0E0E0E;
$light: #FFFFFE;
