
// $background-ligth: #474747;
// $background-ligth:#4E76A6;
$background-ligth:#344F6F;
// $background-ligth:#273B53;
// $background-ligth:#223258;
// $background-ligth:#;
// $background-ligth:#;
$background-menu:#2D5483;


$background-dark: #0000;

$txtcolor-primary: #FFFFFF;
// $txtcolor-secondary:#64A686;
// $txtcolor-secondary:#ADEBBA;
// $txtcolor-secondary:#3AB795;
$txtcolor-secondary:#ADEBBA;
// $txtcolor-secondary:#;
// $txtcolor-secondary:#;
$txtcolor-tertiary:$background-ligth;

$color-primary: #07FFD2;
$color-secondary: #FBED21;

$stroke-primary: #07FFD2;
$stroke-secondary: #FFFFFF;
