// Specific CSS for your home-page

.home {
  &--container {
    background-color: $light;
  }

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px;

    h1 {
      @include title();
      color: $dark;
    }
  }

  &--presentation {
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    .media3d {
      background-image: url();
    }
  }
}
