// Specific CSS for your home-page

.home {

  &--container {
    background-color: $light;
  }

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px;

    h1 {
      @include title();
      color: $dark;
    }
  }

  &--presentation {
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    &--text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      padding-left: 200px;
      width: 550px;

      h1 {
        @include title();
        color: $primary--dark;
        font-size: 3rem;
      }

      h2 {
        @include subtitle();
        color: $dark;
        font-size: 2rem;
      }

      p {
        @include paragraph();
        color: $dark;
        font-size: 1.5rem;
      }
    }

    .media3d {
      background-image: url('velo3D.png');
      background-repeat: no-repeat;
      width: 677px;
      height: 677px;
    }
  }

  &--explication {
    h1 {
      @include title();
      color: $secondary;
    }

    h2 {
      @include subtitle();
      color: $light;
    }

    p {
      @include paragraph();
      color: $light;
    }

  }
  &--team {
    h1 {
      @include title();
      color: $dark
    }

    h2 {
      @include subtitle();
      color: $dark;
    }

    p {
      @include paragraph();
      color: $dark;
    }
  }

  &--partenaire {
    h1 {
      @include title();
      color: $dark
    }

    p {
      @include paragraph();
      color: $dark;
    }
  }
}
