@import "config/bases";
@import "components/button";
@import"config/variable.scss";


.super-container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title-signup{
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.logo{
  margin-top: 26px;
  background-image: url("VW.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 80px;
}

.container-form{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  width: 100%;
  margin: 0;
  margin-top: 16px;
  padding-bottom: 16px;
}

.formulaire{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  width: 100%;

}

form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.input.email.optional.user_email{
  color: #344F6F;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
height: 100%;
width: 100%;
padding: 0;
margin: 0;

}
input[type="email" i]{
background-color: white;
color: #344F6F;
font-family: 'Montserrat', sans-serif;
font-size: 12px;
font-weight: 600;
border-radius:10px;
border: solid 0.5px $color-primary;
// box-shadow: 0px 0px 20px $color-primary;
width: 300px;
height: 30px;
margin-bottom: 20px;
font-family: 'Montserrat', sans-serif;
padding-left: 10px;
}


input.password.optional.user_password{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
height: 100%;
width: 100%;
padding: 0;
margin: 0;

}

input[type="password" i] {
  background-color: white;
  color: #344F6F;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  border-radius:10px;
  border: solid 0.5px $color-primary;
  // box-shadow: 0px 0px 20px $color-primary;
  width: 300px;
  height: 30px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
}

input.string.required.user_last_name{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  }

  input.user_last_name.string.required{
    background-color: $background-ligth;
    color: $txtcolor-primary;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
    border-radius:10px;
    border: solid 0.5px $color-primary;
    box-shadow: 0px 0px 20px $color-primary;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
  }


.form-actions{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 10%;
  width: 100%;
  margin-top: 25px;
}



.label-fr{
  display: flex;
  justify-content: center;
  text-align: center;
  color: $txtcolor-primary;
  font-size: 16px;
}

input.btn{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
width: 154px;
height: 44px;
background-color: $background-ligth;
color:white;
font-family: 'Montserrat', sans-serif;
font-size: 10px;
font-weight: 600;
border-radius:10px;
border: solid 2px $stroke-secondary;
box-shadow: 0px 0px 10px $stroke-secondary;
}

.button-login{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
width: 150px;
height: 40px;
background-color: $background-ligth;
color:white;
font-family: 'Montserrat', sans-serif;
font-size: 10px;
font-weight: 600;
border-radius:10px;
border: solid 2px $stroke-secondary;
box-shadow: 0px 0px 10px $stroke-secondary;
}
