@import "config/bases";
@import "components/button";
@import"config/variable.scss";

.logo-signup{
  margin-top: 0;
  background-image: url("favicon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 80px;
}

.super-container-up{
  display: flex;
  flex-direction: column;
  height: 780px;
}

.input.string.required.user_first_name{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  }

  input[type="text" i]{
  background-color: $background-ligth;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  border-radius:10px;
  border: solid 1px white;
  // box-shadow: 0px 0px 20px $color-primary;
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;


  }

  input::placeholder {
    color: white;
    opacity: 0.5;
  }


.container-formu{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80%;
  width: 100%;
  margin: 0;
  margin-top: 16px;
  padding-bottom: 16px;


}


input.string.required.user_last_name{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  }

  input.user_last_name.string.required{
    background-color: $background-ligth;
    color: $txtcolor-primary;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
    border-radius:10px;
    border: solid 0.5px $color-primary;
    box-shadow: 0px 0px 20px $color-primary;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
  }

input.user_email.string.email.required{
  color: black;
}
