<div  class="menu-container">
  <div class="icone-menu">
    <i class="fa-solid fa-house fa-2xl"></i>
    <i class="fa-solid fa-clock-rotate-left fa-2xl"></i>
    <i class="fa-solid fa-euro-sign fa-2xl"></i>
    <i class="fa-solid fa-arrow-right-from-bracket fa-2xl"></i>
  </div>
</div>
