<div  class="menu-container">
  <div class="icone-menu">
    <%= link_to gamingsessions_path do %>
      <i class="fa-solid fa-house fa-2xl"></i>
    <% end %>
    <i class="fa-solid fa-clock-rotate-left fa-2xl"></i>
    <i class="fa-solid fa-euro-sign fa-2xl"></i>
    <%= link_to destroy_user_session_path, data: { turbo_method: :delete} do%>
        <i class="fa-solid fa-arrow-right-from-bracket fa-2xl"></i>
    <% end %>
  </div>
</div>
