
<div class="menu-contain">
  <div class="navbar-elements-container">
    <%= link_to new_user_registration_path  do%>
      <div class="menu-element">
        <span class="iconify" data-icon="ic:baseline-app-registration"></span>
        <span>Inscription</span>
      </div>
    <% end %>

    <%= link_to new_user_session_path do %>
      <div class="menu-element">
        <span class="iconify" data-icon="carbon:login"></span>
        <span>Connexion</span>
      </div>
    <% end %>
  </div>
</div>
