
<div  class= "menu-contain">
  <div class="inscription">
  <p><%= link_to 'Inscription', new_user_registration_path %></p>
  </div>
  <div class="connexion">
  <p><%= link_to 'Connexion', new_user_session_path %></p>
  </div>
</div>
