<div class="home--container">
  <header class="home--header">
    <h1>Vel-Watt</h1>
    <a class="button__home">CONTACT</a>
  </header>

  <div class="home--presentation">
    <div class="home--presentation--text">
      <h1>Vel-Watt</h1>
      <h2>Subtitle</h2>
      <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
    <span class="media3d"></span>
  </div>

  <div class="home--explication">
    <div class="home--explication--list">
      <span>image</span>
      <div class="card__explication">
        <h1>Game Vel-Watt</h1>
        <h2>Subtitle</h2>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.<br>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
    </div>
    <div class="home--explication--list">
      <span>image</span>
      <div class="card__explication">
        <h1>Application</h1>
        <h2>Subtitle</h2>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.<br>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
    </div>
    <div class="home--explication--list">
      <span>image</span>
      <div class="card__explication">
        <h1>Demo day</h1>
        <h2>with le wagon</h2>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.<br>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      </div>
    </div>
  </div>

  <div class="home--team">
    <div class="card__team">
      <h1>Prenom</h1>
      <h2>Statue</h2>
      <p>Foundateur</p>
    </div>
    <div class="card__team">
      <h1>Prenom</h1>
      <h2>Statue</h2>
      <p>Foundateur</p>
    </div>
    <div class="card__team">
      <h1>Prenom</h1>
      <h2>Statue</h2>
      <p>Foundateur</p>
    </div>
  </div>

  <div class="home--partenaire">
    <h1>Nos partenaire</h1>

    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
  </div>
</div>
