<%#= render "pages/svgLogo" %>
<%# <div class="home--container">
  <header class="home--header">
    

    <a class="home--button">CONTACT</a>
  </header>

  <div class="home--presentation">
    <h1>Vel-watt</h1>
    <p>Plus qu’un geste, une façon de voir l’avenir</p>

    <p>Text à mettre en forme </p>
  </div>
</div> %>

<div class="home--waitproject">
  <div>
    <h1>Vel-watt</h1>
    <p>Site en travaux</p>
  </div>
</div>