<main class="home" data-controller='nav-contact'>
  <header class="header-waitproject">
    <h1>Vel-Watt</h1>
  </header>
  <div class="home--waitproject">
    <div class='main-text'>
      <h2>Notre site est actuellement en travaux</h2>
      <p>Si vous voulez plus d’information sur le projet vous pouvez regarder la vidéo sur youtube d’une démonstrations du projet :
        <a class="link" target="_blank" rel="stylesheet" href="https://www.youtube.com/watch?v=Kkik_mEcW8Q">https://vu.fr/zNkA</a>
      </p>
      <div class="contact">
        <p>Nous contacter :</p>
        <div class='icone'>
          <a href="mailto:contact@velwatt.com" class="mail" target="_blank">
            <i class="fas fa-envelope"></i>
          </a>
          <a href="https://www.linkedin.com/company/88931012/admin/?feedType=following" class="linkdIn" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
    <img src="./velo3D.png" alt="Vélo 3D de vel watt">
  </div>
</main>
