<div data-controller="game-config">
  <h1>BikeGame</h1>
  <span data-action="click->game-config#initSession">CREATE SESSION</span>
  <p>Total :</p>
  <h2 data-game-config-target="totalValue">tata</h2>
  <p>Instant :</p>
  <h2 data-game-config-target="compteurValue">toto</h2>
</div>

<%# affiche le qr code sur la page à la fin du jeu %>


<div style="display: none">
  <%= @svg.html_safe %>
</div>
