<div class="gamePages" data-controller="game-three" data-action="game-session:end->game-config#endSession">
  <span data-game-config-url-value="/gamingsessions"></span>
  <div data-controller="game-config timer"
    data-action="game-session:end->game-config#endSession"
    data-game-config-api-value="<%= ENV['FAST_API_ENDPOINT'] %>">
    <div>
      <p data-timer-target="timerView" data-game-config-target="timeLeft"></p>
    </div>
    <span data-action="click->game-config#initSession click->timer#startTimer">START GAME</span>
    <p>Total :</p>
    <h2><span data-game-config-target="totalValue">0.000</span> wh</h2>
    <p>Max production :</p>
    <h2><span data-game-config-target="maxProduct" >0</span> w</h2>
    <p>Instant :</p>
    <h2><span data-game-config-target="compteurValue" class="compteur">0</span> w</h2>

    <%# affiche le qr code sur la page à la fin du jeu %>
    <div data-game-config-target="svg" style="width: 100px;height:100px; margin: 20px">
    </div>

  </div>
</div>
