<div data-controller="game-three">

</div>

<div class="gamePages" data-controller="game-config timer" data-action="game-session:end->game-config#endSession">
  <span data-game-config-url-value="/gamingsessions"></span>
  <div>
    <p data-timer-target="timerView"></p>
  </div>
  <span data-action="click->game-config#initSession click->timer#startTimer">START GAME</span>
  <p>Total :</p>
  <h2 data-game-config-target="totalValue">0.000 wh</h2>
  <p>Max production :</p>
  <h2 data-game-config-target="maxProduct">0 w</h2>
  <p>Instant :</p>
  <h2 data-game-config-target="compteurValue">0 w</h2>
</div>

<%# affiche le qr code sur la page à la fin du jeu %>


<div class="QRcodes">
  <%= @svg.html_safe %>
</div>
