<div data-controller="game-config">
  <h1>BikeGame</h1>
  <span data-action="click->game-config#initSession">CREATE SESSION</span>
  <p>Total :</p>
  <h2 data-game-config-target="totalValue">0.000 wh</h2>
  <p>Max production :</p>
  <h2 data-game-config-target="maxProduct">0 w</h2>
  <p>Instant :</p>
  <h2 data-game-config-target="compteurValue">0 w</h2>
</div>

<%# affiche le qr code sur la page à la fin du jeu %>


<div style="display: none">
  <%= @svg.html_safe %>
</div>
