<h1>Le conseil Vel-Watt du jour</h1>

<p>Eteindre les veilles</p>
<p>Le bon geste : utiliser des multiprises à interrupteur qui permettent de brancher plusuers appareils et de les éteindre tous en même temps.</p>

<p>C’est ici que vous pouvez voir les offres négociées spécialement pour vous chez nos partenaires et échanger vos points Vell-Watt ( VW ) contre des bons de réductions !</p>
<br>
<br>
<br>
<br>
<br>
<br>
