.button{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
width: 150px;
height: 40px;
background-color: $background-ligth;
color:white;
font-family: 'Montserrat', sans-serif;
font-size: 10px;
font-weight: 600;
border-radius:10px;
border: solid 0px $color-primary;

}

.button_container{
display: flex;
justify-content: center;
align-items: center;
margin: 20px;
}

.button-net{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 150px;
  height: 40px;
  background-color: $background-ligth;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 600;
  border-radius:10px;
  border: solid 1px $color-primary;

}
// display: flex;
// flex-direction: row;
// justify-content: center;
// align-items: center;
// padding: 8px 40px;
// gap: 16px;
// background: $color-primary;
// border-radius: 6px;
// border: none;


.button__home {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: 1px solid black;
  border-radius:8px;
  padding: 8px 16px;

  font-size: 1rem;
  font-weight: 600;

  color: black;
}
